@import url(https://fonts.googleapis.com/css?family=Roboto);

.firstHeader{
    background-color: #343232 !important;
    height: 90px;
}
.ht{
    position: fixed;
}
.ulMenu li{
    padding-left: 10px;
}
.ulMenu li{
    padding-left: 10px;
}
.smenu{
    margin-top: 105px;
}
.ulMenu .Firstli{
    padding-left: 40px;
}
.lef{
    text-align: left;
}
.menuTransparent{
    position: fixed;
    z-index: 1;
    color: rgba(130, 130, 130, 0.5);
    font-size: 50px;
    text-align: center;
    /* line-height: 100px; */
    box-shadow: 0 3px 5px rgb(0 0 0 / 30%);
    backdrop-filter: blur(5px);
}
.icoSize{
font-size: 24px;
}
.sante{
    font-size: 25px;
    color: #BEBEBE;
    font-weight: 600;
    padding-left: 1%;
}

.MenuSearch{
    width: 40%;
}
.sousMenu{
    background-color: #222222;
    padding-top: 1px;
    margin-top: 5px;
}
.eclip{
    position: absolute;
    right: 20px;
    font-size: 18px;
    color: white;
}
.MenuSearch input{
    background-color: #494747 !important;
    border: none;
    border-radius: 30px;
}
.sousMenu li .p1{
    color: white;
    padding-left: 45px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.sousMenu .Sousli{
    margin-left: 38%;
}
.bgprofil{
    background: linear-gradient(rgb(255, 0, 212), orange);
    color: white;
}
.improfil img{
    margin-right: 10px;
}
.profilMenu{
    padding: 20px;
    font-weight: 500;
    cursor: pointer;
}
.profilMenuActive{
    background-color: #2B2A2A;
    padding: 20px;
    font-weight: 500;
    cursor: pointer;
    color: white;
}
.mn{
    font-size: 25px;
}
.cen{
    text-align: center;
}
.circle {
	line-height: 0;		/* remove line-height */ 
	display: inline-block;	/* circle wraps image */
	margin: 5px;
	border-radius: 50%;	/* relative value */
	border: 2px solid white;/* border width   */
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);	
	transition: linear 0.25s;
}
.circle img {
	border-radius: 50%;	/* relative value for
				   adjustable image size */
}
.ce{
    font-weight: bold;
}
.coran{
    font-size: 13px;
}
.circle:hover {
	transition: ease-out 0.3s;
	transform: scale(0.8) rotate(20deg);
}
.menuGauche{
    padding: 0px;
    width: 100% !important;
}
.smuuse{
    position: absolute;
    left: 6%;
    font-size: 18px;
}
ul .SousliG1{
    position: absolute;
    right: 89px;
    margin-top: 9px;
    font-size: 18px;
}
ul .SousliG2{
    position: absolute;
    right: 60px;
    margin-top: 9px;
    font-size: 18px;
}
ul .SousliG3{
    position: absolute;
    right: 30px;
    margin-top: 9px;
    font-size: 18px;
}
/* .SousFirstli{
    margin-left: 40px;
} */
.liG{
    margin-left: 5%;
}
.MenuG{
    position: absolute;
    right: 60px;
}
.wh{
    color: white;
}

.sb-example-3 .search__title {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    color: #ff8b88;
}

.sb-example-3 .search__input {
    width: 100%;
    text-align: center;
    padding: 12px 24px;

    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;

    color: white;
/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 5% center;
    border-radius: 50px;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.sb-example-3 .search__input::placeholder {
    text-align: center;
        color: #D4D2D2;
        letter-spacing: 1.5px;
    }

.sb-example-3 .search__input:hover,
    .search__input:focus {
        width: 110%;
        outline: 0;
        background-position: 4% center;
    }


    /* firstSlide */
      .wrapper{
        width:100%;
        text-align:center;
      }
      h2{
        font-family:sans-serif;
        color:#fff;
      }
      .carousel{
        width:100%;
        margin:0px auto;
      }
      .slick-slide{
        margin:10px;
      }
      .slick-slide img{
        width:100%;
      }
      .slick-prev, .slick-next{
        background: #000;
        border-radius: 15px;
        border-color: transparent;
      }
      .carousel .card{
        border: 2px solid #F7F7F7;
        background-color: #F7F7F7;
        font-size: 13px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 30px;
      }
      .cardActive{
          background-color: #E5E3E3;
          border: 2px solid #E5E3E3;
        font-size: 13px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 30px;
      }
      .carousel .card-body{
        background: #fff;
        width: 100%;
        vertical-align: top;
      }
      .carousel .card-header{
          background-color: #F7F7F7;
          border: none;
      }
      .carousel .card-content{
        text-align: left;
        color: #333;
      }
      .carousel .card-text{
        font-size: 14px;
        font-weight: 300;
      }
      /* .carousel .slick-list{
        height: 50px;
      }
*/
      .carousel .slick-slide{
          width: auto !important;
    } 
    .slick-dots{
        display: none !important;
    }
       .carousel .slick-list{
          height: 70px !important;
       }
      .carousel .slick-prev{
        display: none !important;
    }
    /* end of firstSlide */


    /* start secondSlide */
    .carousel{
        width:90%;
        margin:0px auto;
      }
      .slick-slide{
        margin:10px;
      }
      .slick-slide img{
        width:100%;
      }
      .slick-prev, .slick-next{
        background: #000;
        border-radius: 15px;
        border-color: transparent;
      }
      #card{
        /* border: 2px solid #fff;
        box-shadow: 1px 1px 15px #ccc; */
      }
      .cardTitle{
          font-size: 20px;
          font-family: Kohinoor Telugu;
          font-weight: bold;
      }
      .card-body{
        /* background: #fff; */
        width: 100%;
        vertical-align: top;
      }
      .card-content{
        text-align: left;
        color: #333;
        padding: 15px;
      }
      #card-header img{
        /* height: 155% !important; */
        object-fit: cover !important;
      }
      /* .slick-cloned img{
        height: 200px;
      } */
      .card-text{
        font-size: 14px;
        font-weight: 300;
      }
      .icoTitle{
          font-size: 20px;
          
      }
      .descrip{
          display: block !important;
      }
      .nameVid{
          font-weight: bold;
          color: #BABCBB;
          font-size: 16px;
      }
      .menuCard{
        position: absolute;
        top: 0;
        right: 0;
        width: 20%;
        height: 80%;
        color: white !important;
        font-weight: bold;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(4px);
      }
      .menuCardOther{
        position: absolute;
        padding: 15px;
        top: 0;
        right: 0;
        font-size: 20px;
        width: 20%;
        height: 80%;
        color: white !important;
        font-weight: bold;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(4px);
      }
      .timeCard{
        position: absolute;
        padding: 5px;
        bottom: 0;
        right: 0;
        width: 20%;
        height: 20%;
        /* background-color: black; */
        background: rgba(0, 0, 0, 0.6);
        font-size: small;
        font-weight: bold;
        color: white;
      }
      .timeCard::before{ 
        opacity: 0.8;
      }
      /* .icoMenuOther{
        padding: 150% !important;
    } */
      .icoMenu{
          padding: 8% !important;
      }
      
      .icoMenu img{
          width: 10px;
          height: 10px;
      }
      .slick-initialized{
          width: 100%;
      }
      .numberCard{
          background-color: white;
          padding-left: 5px;
          padding-right: 5px;
          font-size: 13px;
          border-radius: 30px;
          color: black;
      }
      .time{
          color: #C8CAC9;
          font-size: 15px;
      }
      .firstTitle{
          font-size: 27px;
          font-weight: 600;
          color: #ADACAC;
          margin-top: 10px;
      }
      .divTitle{
          padding-left: 5%;
          padding-top: 15px;
      }
      .tenda{
          background-color: #F5FDFA;
      }
      /* #carousel .slick-track{
          left: 0 !important;
      } */
      #carousel .slick-track{
          margin-left: -35%;
      }
      .carousele .slick-track{
        margin-left: -35%;
    }
      .carousel .slick-track{
        margin-left: -43%;
    }
    .slick-prev{
        display: none !important;
    }
    #icoM{
        padding: 1%;
    }
    /* End secondSlide */

    @media(max-width: 1011px){
        /* .eclip{
            right: 60px !important;
        } */
        #icoM{
            padding: 15%;
        }
        .icoMenuOther{
            padding: 25px !important;
        }
        #carousel .slick-track{
            margin-left: -3% !important;
        }
        .carousele .slick-track{
            margin-left: -3% !important;
        }
        .icoMenu{
            padding: 20% !important;
        }
    }
    @media (max-width: 767px)
{
    /* .icoMenuOther{
            padding: 5px !important;
        } */
        #icoM{
            padding: 7%;
        }
    #carousel .slick-track{
        margin-left: -8% !important;
    }
    .carousele .slick-track{
        margin-left: -8% !important;
    }
    
    .MenuG{
        display: none;
    }
    .liG{
        position: absolute;
        right: 10%;
    }
    .MenuSearch{
        width: 70%;
        margin-left: -10%;
    }
    .icoMenu{
        padding: 10% !important;
    }
}

@media (max-width: 575px) {
    #icoM{
        padding: 10% !important;
    }
    .icoMenu{
        padding: 15% !important;
    }
    
    .ui{
        display: none;
    }
    .Fli{
        display: none;
    }
    .Firstli{
        margin-left: -30px;
    }
    .MenuSearch{
        margin-left: -40px;
    }
    .liG{
        margin-right: 15px;
    }
    .smuuse{
        display: none;
    }
    .Sousli{
        position: absolute;
        left: 80px;
    }
    .sousMenu .Sousli{
        margin-left: 0;
    }
    .sousMenu li .p1{
        padding-left: 0px;
    }
}
@media (max-width: 425px) {
    #icoM{
        padding: 1% !important;
    }
    .carousel .slick-track{
        margin-left: -5% !important;
    }
    .icoMenu{
        padding: 5% !important;
    }
    .timeCard{
        font-size: 10px;
    }
    #card{
        width: 100% !important;
    }
    .numberCard{
        font-size: 10px;
    }
}
@media (max-width: 345px) {
    .menuCardOther{
        font-size: 10px;
    }
    #icoM{
        padding: 2px !important;
    }
    .icoMenu{
        padding: 1% !important;
    }
    .cardTitle{
        font-size: 14px !important;
    }
    .nameVid{
        font-size: 12px;
    }
    .time{
        font-size: 11px !important;
    }
}